* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(137, 137, 253);
    grid-area: header;
}

main {
    background-color: rgb(120, 235, 129);
    grid-area: main;
}

.article-foto {
    background-color: rgb(255, 125, 125);
    grid-area: article-foto;
}

.article2-text {
    background-color: rgb(149, 149, 251);
    grid-area: article2-text;
}

.article-4foto {
    background-color: rgb(170, 239, 101);
    grid-area: article-4foto;
}

.article-anketa {
    background-color: gray;
    grid-area: article-anketa;
}

.footer {
    background-color: rgb(241, 210, 169);
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        "header header header header"
        "main main main main"
        "article-foto article-foto article-foto article-foto"
        "article2-text article2-text article2-text article2-text"
        "article-4foto article-4foto article-4foto article-4foto"
        "article-anketa article-anketa article-anketa article-anketa"
        "footer footer footer footer";
    gap: 1rem;
    margin: 5vh auto;
    width: 70vw;
    height: 100vh;
}

.header_foto_text {
    width: 10%;
    padding-bottom: 1%;
}

.header_foto {
    width: 98%;
    padding: 1vw;
}

p {
    font-size: 2vw;
    padding: 1vw;
}

.foto {
    width: 20%;
    padding: 1vw;
}

.footer-logo {
    width: 10vw;
    align-self: start;
}

.footer3,
.footer4,
.footer2 {
    font-size: 1.7vw;
}

.footer4-text {
    color: blue;
    font-size: 2.3vw;
}

.footer4-text2 {
    font-size: 1vw;
}